<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button
      tab="beranda"
      href="/tabs-ibu/beranda">

      <ion-icon name="home"></ion-icon>

      <ion-label>
        Dashboard
      </ion-label>

    </ion-tab-button>


    <ion-tab-button
      tab="riwayat"
      href="/tabs-ibu/riwayat">

      <ion-icon
        name="document-text">

      </ion-icon>

      <ion-label>
        Riwayat
      </ion-label>

    </ion-tab-button>


    <ion-tab-button
      tab="reminder"
      href="/tabs-ibu/reminder">

      <ion-icon
        name="alarm">

      </ion-icon>

      <ion-label>
        Reminder
      </ion-label>

    </ion-tab-button>


    <ion-tab-button
      tab="profile"
      href="/profile">

      <ion-icon
        name="person">

      </ion-icon>

      <ion-label>
        Profile
      </ion-label>

    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>