<ion-content>
  <div class="container">
    <div class="top-section">
      <h1>Selamat Datang</h1>
      <h2>Teman Bumil</h2>
      <p>Pantau kesehatan kehamilan, jadwal pemeriksaan, dan perkembangan bunda bersama lebih mudah</p>
    </div>

    <div class="image-section">
      <img src="assets/img/mom.png">
    </div>

    <div class="form-section">

      <div class="error-box" *ngIf="message">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ message }}
      </div>

      <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="doLogin()" [disabled]="isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Login</span>
      </ion-button>

      <p class="bottom-text">
        Belum punya akun?
        <span routerLink="/register">Register</span>
      </p>

    </div>
  </div>
</ion-content>