ion-tab-bar {

    --background: #ffffff;

    border-radius: 25px 25px 0 0;

    padding-top: 8px;

    height: 70px;

}


ion-tab-button {

    --color: #999;

    --color-selected: #FF5C8A;

}


ion-icon {

    font-size: 22px;

}