/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

*{

  font-family:
  'Poppins',
  sans-serif;

}

ion-button{

  --border-radius:15px;

  font-weight:bold;

  text-transform:none;

}

ion-card{

  border-radius:20px;

  box-shadow:
  0 4px 10px rgba(0,0,0,0.1);

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ion-label,
ion-input,
ion-title{

  color:#3B2B2B;

}

ion-input{

  --color:#3B2B2B;

}


ion-textarea{

  --color:#3B2B2B;

}


ion-select{

  --color:#3B2B2B;

}

input,
textarea,
select{

  color:#3B2B2B !important;

}

ion-alert{

  --background:#ffffff;

}


.alert-wrapper{

  background:#ffffff !important;

}


.alert-radio-label{

  color:#3B2B2B !important;

}


.alert-button{

  color:#FF5C8A !important;

}


.alert-title{

  color:#3B2B2B !important;

}


.alert-message{

  color:#666 !important;

}

ion-select{

  --placeholder-color:#666;

  --placeholder-opacity:1;

  color:#3B2B2B !important;

}

ion-label{

  color:#666 !important;

  opacity:1 !important;

}

.label-stacked{

  color:#666 !important;

}

input[type="date"]{

  color:#3B2B2B !important;

}