<ion-content>
  <div class="container">
    <div class="top-section">
      <h1>Buat Akun</h1>
      <p>Daftar untuk mulai memantau kesehatan bunda</p>
    </div>

    <div class="form-section">

      <div class="error-box" *ngIf="message">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ message }}
      </div>

      <ion-item>
        <ion-input placeholder="Nama Lengkap" [(ngModel)]="nama"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password (min. 8 karakter)" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Konfirmasi Password" [(ngModel)]="confirm_password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Pilih Role" [(ngModel)]="role">
          <ion-select-option value="ibu">Ibu Hamil</ion-select-option>
          <ion-select-option value="dokter">Dokter</ion-select-option>
          <ion-select-option value="suami">Suami</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" (click)="doRegister()" [disabled]="isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Register</span>
      </ion-button>

      <p class="bottom-text">
        Sudah punya akun?
        <span routerLink="/login">Login</span>
      </p>

    </div>
  </div>
</ion-content>